{"wan":{"wan_type":"0","wan_address":"10.0.0.1","wan_netmask":"255.0.0.0","wan_gateway":"10.0.0.254","wan_pridns":"8.8.8.8","wan_secdns":"","pppoe_username":"username","pppoe_password":"password"},"lan":{"lan_address":"192.168.0.1","lan_netmask":"255.255.255.0","dhcp_ip_start":"192.168.0.100","dhcp_ip_end":"192.168.0.200"},"wifi":{"ssid":"pcduino_wifi","channel":"1","security_type":"1","psk_key":"88888888"}}